<ion-header>
    <ion-toolbar color="light">
        <ion-buttons slot="start">
            <ion-back-button defaultHref="home"></ion-back-button>
        </ion-buttons>
        <ion-buttons slot="primary">
            <ion-button color="danger" (click)="onDelete()">Delete</ion-button>
        </ion-buttons>
    </ion-toolbar>
</ion-header>

<ion-content>
    <ion-grid>
        <ion-row>
            <ion-col>
                <ion-card *ngIf="description">
                    <ion-card-content>
                        {{description}}
                    </ion-card-content>
                </ion-card>
            </ion-col>
        </ion-row>
        <ion-row>
            <ion-col style="text-align:center;">
            </ion-col>
        </ion-row>
    </ion-grid>
</ion-content>
