<ion-header>
  <ion-toolbar color="primary">
    <ion-title>
      Todos
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-grid>
    <ion-row align-items-center>
      <ion-col>
        <ion-input type="text" placeholder="Enter a todo here..." [(ngModel)]="todo"></ion-input>
      </ion-col>
      <ion-col>
        <ion-button color="success" style="float:right;" (click)="onInsert()">Insert</ion-button>
      </ion-col>
    </ion-row>
    <ion-row style="margin-top: 10px">
      <ion-col>
        <ion-progress-bar *ngIf="todos === null; else todoList" type="indeterminate" color="primary"></ion-progress-bar>

        <ng-template #todoList>
          <ion-list style="width: 95%;">
            <ion-item *ngFor="let todo of todos">
              <ion-label>
                <a style="text-decoration: none;color: black;" [routerLink]="[ '/todo', todo._id ]"
                  routerLinkActive="active">
                  {{todo.description}}
                </a>
              </ion-label>
            </ion-item>
          </ion-list>
        </ng-template>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>